env
semestralna/__pycache__
semestralna/semestralna/__pycache__
semestralna/app/static/images
semestralna/app/__pycache__
semestralna/app/__pycache__
semestralna/app/__pycache__/__init__.cpython-38.pyc
semestralna/app/__pycache__/admin.cpython-38.pyc
semestralna/app/__pycache__/apps.cpython-38.pyc
semestralna/app/__pycache__/models.cpython-38.pyc
semestralna/app/__pycache__/urls.cpython-38.pyc
semestralna/app/__pycache__/views.cpython-38.pyc
semestralna/app/migrations/__pycache__/__init__.cpython-38.pyc
