{% extends 'app/base.html' %}
{% load static %}

{% block title %}
Discussion
{% endblock title %}

{% block script %}
    <script acync src="{% static 'js\discussion.js' %}"></script>
{% endblock script %}

{% block body %}
<div class="container-fluid">
    <div class="row">
        <div class="col-lg-8 offset-lg-2 item-container" id='main-body'>
            <div class='post-item item item-inside' data-comment-id='' data-type='topic' data-topic-id={{topic.id}} data-layer='0' data-color='0'>
                <article class='post'>
                    <header class='post-header'>
                        <div>
                            <a href="{% url 'app:edit' topic.id %}">{{topic.title}}</a>
                        </div>
                        <ul>
                            <li>{{topic.author}}</li>
                            <li>{{topic.date}}</li>
                        </ul>
                    </header>
                    <div class='post-body'>
                        {{topic.description}}
                    </div>
                    <footer class='post-footer'>
                        <ul>
                            <li><i class="fas fa-reply"></i></li>
                            <li><i class="fas fa-eye"></i></li>
                        </ul>
                    </footer>
                </article>
            </div>

            {% for item in comments %}
            <div class='post-item item item-inside' data-comment-id={{item.id}} data-type='comment' data-layer='0' data-color='0'>
                <article class='post'>
                    <header class='post-header'>
                        <ul>
                            <li>{{item.author}}</li>
                            <li>{{item.date}}</li>
                        </ul>
                    </header>
                    <div class='post-body'>
                        {{item.message}}
                    </div>
                    <footer class='post-footer'>
                        <ul>
                            <li><i class="fas fa-reply"></i></li>
                            <li><i class="fas fa-eye"></i></li>
                        </ul>
                    </footer>
                </article>
            </div>
            {% endfor %}

            
            
        </div>
        {% if discussion %}
            {% for item in discussion %}
                {{item}}
            {% endfor %}
        {% endif %}
    </div>
</div>
{% endblock body %}



    
    