{% extends 'app/base.html' %}

{% block title %}Editing{% endblock title %}


{% block body %}


{% if discussion is not None %}
<div class="container-fluid center">
    <h1>Správa diskúsie</h1>
    {% if error %}
    <h2>{{error}}</h2>
    {% endif %}
    <div class="item">
        <div class="item-inside">
            {% if form %}
            <a href="{% url 'app:remove_discussion' discussion.id%}"><i class="fas fa-times" id='delete'></i></a>
            {% endif %}
            <ul class="discussion-item-list">
                <li>{{discussion.title}}</li>
                <li>{{discussion.description}}</li>
                <li>{{discussion.author}}</li>
                <li>{{discussion.date}}</li>
            </ul>
        </div>
    </div>

    {% if form %}
    <form action="{% url 'app:edit' discussion.id%}" method="post">
        {% csrf_token %}
        <div class="container-fluid form">
            {{ form }}
            <input type="submit" value="Upraviť">
        </div>
    </form>
</div>
{% endif %}
{% else %}
<div>Diskúsia už neexistuje</div>
{% endif %}
{% endblock body %}