{% extends 'app/base.html' %}


{% block title %}
Index
{% endblock title %}


{% block body %}
<div class="container-fluid">
    <h1>Skúšobná stránka</h1>
</div>
<div class="container-fluid">
    <div class="row">
        <div class="col-sm-4">
            <img src="https://www.w3schools.com/bootstrap4/paris.jpg" alt="" class="imgP">
        </div>
        <div class="col-sm-4">
            <img src="https://www.w3schools.com/bootstrap4/paris.jpg" alt="" class="imgP">
        </div>
        <div class="col-sm-4">
            <img src="https://www.w3schools.com/bootstrap4/paris.jpg" alt="" class="imgP">
        </div>
    </div>
</div>
{% endblock body %}