{% extends 'app/base.html' %}


{% block title %}Discussion{% endblock title %}


{% block body %}
<div class="container">
    <div class="row">
        <div class="col-lg-3 col-md-4 item-container">
            <div class="side-nav" id="side-nav">
                <div class="item">
                    <div class="item-inside">
                        <a href="add">Pridať diskusiu</a>
                    </div>
                </div>

                <div class="item">
                    <div class="item-inside">
                        <ul class="discussion-item-list">
                            <li class="side-item">Nejake filtre</li>
                            <li class="side-item">Nejake filtre</li>
                            <li class="side-item">Nejake filtre</li>
                            <li class="side-item">Nejake filtre</li>
                            <li class="side-item">Nejake filtre</li>
                            <li class="side-item">Nejake filtre</li>
                        </ul>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-lg-9 col-md-8 item-container" id='main-body'>
            <div class="infinite-container">

                {% if discussion %}

                {% for item in discussion %}
                <div class="item infinite-item ">
                    <div class="item-inside">
                        <h3 class='discussion-item-title'><a href="edit/{{item.id}}">{{item.title}}</a></h3>
                        <ul class='discussion-item-list'>
                            <li class='discussion-item-author'>{{item.author}}</li>
                            <li class='discussion-item-description'>{{item.description}}</li>
                        </ul>
                        <ul class='discussion-item-list discussion-item-stats'>
                            <li class='discusion-item-like'><i class="fas fa-thumbs-up"></i></li>
                            <li class='discussion-item-views'><i class="fas fa-eye"></i></li>
                        </ul>
                    </div>
                </div>
                {% endfor %}

                {% else %}
                <div class="item">
                    <div class="item-inside">
                        Nie sú pridané žiadne príspevky
                    </div>
                </div>

                {% endif %}
            </div>
            <div class="item loading">
                <div class="item-inside">
                    Načítavajú sa ďalšie príspevky
                </div>
            </div>
            {% if page_obj.has_next %}
            <a class="infinite-more-link" href="?page={{page_obj.next_page_number}}">Načítať viac</a>
            {% endif %}
        </div>
    </div>
</div>
{% endblock body %}


{% block script %}
<script>
    var infinite = new Waypoint.Infinite({
        element: $('.infinite-container')[0],
        context: document.getElementById('main-body'),
        onBeforePageLoad: function () {
            $('.loading').show();
        },
        onAfterPageLoad: function ($items) {
            $('.loading').hide();
        }
    });
</script>
{% endblock script %}
    