{% extends 'app/base.html' %}
{% load crispy_forms_tags %}

{% block title %}
Login
{% endblock title %}

{% block body %}
<div class="container-fluid center" id="prihlasovanie">
    
    <h1>Prihláste sa</h1>
    <form action="login" method="POST">
        {% csrf_token %}
        {{form|crispy}}
        <input type="submit" value="Prihlásiť sa">
    </form>
</div>
{% endblock body %}

{% block script %}
<script>
    document.addEventListener("DOMContentLoaded", () => {
        error_list = document.querySelectorAll(".error");
        for (let index = 0; index < error_list.length; index++) {
            error_list[index].addEventListener('keyup', (event) => {
                event.currentTarget.classList.remove("error");
                event.currentTarget.querySelector(".help-block").remove();
            })
        }
    })
</script>

{% endblock script %}