{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/test.css' %}">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
        integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <title>Document</title>
</head>

<body>
    <div class='navbar topnav' id='topnav'>
        <a href="javascript:void(0);" class="icon" onclick="showTopNav()">
            <i class="fa fa-bars"></i>
        </a>
        <div class='topnavmenu' id='expandable'>
            <a href="">Domov</a>
            <a href="">Login</a>
        </div>
    </div>
    <script>
        function showTopNav() {
            var x = document.getElementById("expandable");
            if (x.className === "topnavmenu") {
                x.className += " expand";
            } else {
                x.className = "topnavmenu";
            }
        }
    </script>
</body>

</html>