
body{
    background-image: url("/static/images/forestbg.jpg")!important;
    background-attachment: fixed;
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover;
    color: rgba(255, 255, 255, 0.6)!important;
}

body::after{
    top: 0;
    content: " ";
    width: 100%;
    height: 100%;
    position: fixed;
    background: rgba(0, 0, 0, 0.65);
    z-index: -1;
}

a{
    text-decoration: none;
    color: rgba(255, 255, 255, 0.6)!important;
}

.item-container{
    height: 100%;
    overflow: auto;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.item-container::-webkit-scrollbar{
    display: none;
}

.item{
    background-color:#4b5258;    
    margin-top:10px;
    margin-bottom:10px;
    border-radius: 10px;
    height: 100%;
}

.item-inside{
    padding: 10px;
    font-size: 13px;
    height: auto;
}

.discussion-item-list{
    list-style-type: none;
    padding-left: 0px;
    margin-bottom: 0px;
}

.discussion-item-author{
    font-size: 11px
}

.discussion-item-description{
    font-size: 12px
}

.discussion-item-stats{
    display: inline;
}

#nav{
    position: sticky;
    top: 0;
    z-index: 1;
}

h1{
    text-align: center;
    padding-bottom: 20px;
}

#obrazok-d{
    display: none;
}

.center{
    position: absolute;
    left: 0px;
    right: 0px;
    top: 50%;
    transform: translate(0px, -50%);
}



@media screen and (min-width: 768px){
    
}

@media (min-width: 576px){
    .navbar{
        height: 56px;
    }
    .navbar-brand{
        display: none!important;
    }
    #navbar{
        margin-top: 0!important;
        font-size: 1.2rem!important;
    }
    #prihlasovanie{
        max-width: 500px;
    }
    #obrazok-m{
        display: none;
    }
    #obrazok-d{
        display: inline!important;
    }
}
